python-telegram-bot==21.4
python-dotenv==1.0.1
openai==1.35.14
scrapfly-sdk==0.8.17
cssselect==1.2.0 
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
jmespath==1.0.1
parsel==1.9.1
w3lib==2.2.1
scrapfly-sdk==0.8.17
tavily-python==0.3.5